{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header class="header">
    <div class="header-logo">It's a logo</div>
    <nav class="header-nav">
        <ul class="header-menu-list">
            <li><a href="#">Books</a></li>
            <li><a href="#">Discussions</a></li>
            <li><a href="#">Contents</a></li>
            <li><a href="#">My Libary</a></li>
        </ul>
    </nav>
    <form method="get">
            <input name="header-search" placeholder="Search" type="search" size="30">
        </form>
        <button class="login-button"><a href="{% url 'users_list' %}" class="login-link">login</a></button>
</header>       
    {% block content %}
    {% endblock content %}
</body>
</html>